@import "tailwindcss";

@theme {
  --font-saira: "Saira", sans-serif;
}

@layer components {
    /* Navbar Wrapper */
    .nav-wrapper {
        @apply bg-white border-b border-gray-100 sticky top-0 z-50 py-4;
    }

    /* Container: 1624px er beshi jabe na, majhkane thakbe */
    .custom-container {
        @apply w-full max-w-[1624px] mx-auto px-6 flex items-center justify-between;
    }

    /* Navigation Links */
    .nav-link {
        font-family: var(--font-saira);
        @apply text-[18px] xl:text-[20px] font-medium text-[#1B2336] hover:text-[#2AAA94] transition flex items-center gap-1;
    }

    /* Signup Button */
    .btn-signup {
        background: linear-gradient(to right, #083F9B, #7F56D9);
        font-family: var(--font-saira);
        @apply text-white pt-[14px] pb-[14px] px-8 rounded-md font-medium text-[18px] hover:opacity-90 transition shadow-md;
    }

    /* Hero Banner Background (Figma Colors) */
    .hero-banner {
        background: linear-gradient(135deg, #04016C 0%, #4A16BD 100%);
        @apply pt-20 pb-28 text-white overflow-hidden;
    }
}